*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-items: center;
}

.grid_container{
  display: grid;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  grid-template-areas: "header"         
                        "main"                
                        "footer";  
  grid-template-rows: auto 1fr auto;  
}

.header{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: header;
  padding-bottom: 20px;
  background-color: darkseagreen;
}

.main{
  grid-area: main;
  background-color: steelblue;
  display: grid;
  align-items: center;
  justify-items: center;
}

.title_header,
.title_main,
.title_footer{
  color: aliceblue;
  font-size: 50px;
  text-transform: uppercase;
}

.navigation {
  width: 100%;
  display: grid;
  justify-items: center;
}

.nav_list{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: space-around;
  justify-items: center;
  gap: 10px;
  list-style: none;
}

.button{
  font-size: 20px;
  color: rgb(53, 51, 51);
  border: none;
  background-color: rgb(244, 244, 244);
  padding: 10px 15px;
  border-radius: 22px;
}

.all_main_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding: 10px 20px 10px 20px;
}

.button:hover {
  background-color: rgb(30, 60, 36);
  color: aliceblue;
}

.main_item:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 2;
}

.main_item {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  background-color: rgb(51, 51, 182);
  color: aliceblue;
  font-size: 50px;
}

.footer{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: footer;
  background-color: skyblue;
}